.root {
  background: var(--mantine-color-gray-8);
  @mixin dark {
    background: var(--mantine-color-dark-8);
  }
}

.bg {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(11px);

  opacity: 0.42;
}

.gray {
  background: linear-gradient(
    150deg,
    rgba(38, 41, 43, 0.5) 0%,
    rgba(41, 45, 47, 0.62) 23.96%,
    rgba(51, 55, 58, 0.73) 46.45%,
    rgba(68, 73, 77, 0.84) 68.35%,
    rgba(91, 98, 104, 0.95) 89.77%,
    rgba(105, 113, 119, 1) 100%
  );
}

.green {
  background: linear-gradient(
    150deg,
    rgba(17, 49, 35, 0.5) 0%,
    rgba(18, 53, 37, 0.6) 19.69%,
    rgba(21, 64, 45, 0.69) 38.17%,
    rgba(26, 83, 57, 0.78) 56.18%,
    rgba(33, 110, 74, 0.87) 73.89%,
    rgba(43, 144, 95, 0.96) 91.23%,
    rgba(48, 164, 108, 1) 100%
  );
}

.blue {
  background: linear-gradient(
    150deg,
    rgba(16, 42, 76, 0.5) 0%,
    rgba(16, 44, 80, 0.58) 15.97%,
    rgba(15, 51, 91, 0.65) 30.96%,
    rgba(13, 62, 110, 0.73) 45.57%,
    rgba(11, 77, 137, 0.8) 59.94%,
    rgba(7, 97, 171, 0.87) 74.14%,
    rgba(4, 121, 213, 0.94) 88.02%,
    rgba(0, 145, 255, 1) 100%
  );
}

.purple {
  background: linear-gradient(
    150deg,
    rgba(58, 30, 72, 0.5) 0%,
    rgba(60, 31, 76, 0.59) 18.85%,
    rgba(68, 36, 87, 0.68) 36.55%,
    rgba(81, 43, 106, 0.77) 53.79%,
    rgba(98, 53, 133, 0.85) 70.76%,
    rgba(121, 66, 167, 0.94) 87.36%,
    rgba(142, 78, 198, 1) 100%
  );
}

.gold {
  background: linear-gradient(
    150deg,
    rgba(63, 34, 0, 0.5) 0%,
    rgba(67, 37, 1, 0.58) 15.44%,
    rgba(78, 45, 3, 0.65) 29.94%,
    rgba(97, 60, 6, 0.72) 44.08%,
    rgba(124, 80, 11, 0.79) 57.98%,
    rgba(158, 105, 18, 0.86) 71.72%,
    rgba(200, 137, 26, 0.93) 85.34%,
    rgba(249, 174, 35, 0.99) 98.62%,
    rgba(255, 178, 36, 1) 100%
  );
}
